body{
    background-color: #9adedb;
}
div {
    display: flex;
    text-align: center; 
    justify-content: center;
}
#welcome{
    justify-items: center;
    background: radial-gradient(#00a59d, #51d5cf 90%);
}

h1{
    font-family: "Ephesis";
    font-size: 55px;
}
#navbar {
	overflow: hidden;
	background-color: #333;
    flex-wrap: wrap;
    justify-content: space-evenly;
    display: flex;
  }
  
  #navbar a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px;
	text-decoration: none;
  }
  
  .content {
	padding: 16px;
  }
  
  
  .sticky {
	position: fixed;
	top: 0;
	width: 100%;
  }
  
  .sticky + .content {
	padding-top: 60px;
  }

  .footer{
	background-color: #1a2229;
	color: #8e899e;
	width: 100%;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 10px;
	text-align: right;
	padding-top: 30px;
    padding-bottom: 30px;
	margin-bottom: 30px;
	margin-top: 50px;
  }
  #navbar {
    overflow: hidden;
    background-color: #333;
    }
    
    #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    }
    
    .content {
    padding: 16px;
    }
    
    .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    }
    
    .sticky + .content {
    padding-top: 60px;
    }

/*************** RESUME *************/
.resume-head{
  flex: 0 0 30%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 2%;
}

.picture-resume{
	display: inline-block;
	width: 20%;
}

.alfie-pic{
	width: 200px;
}


.resume-intro{
	display: inline-block;
  flex: 0 0 30%;

}

.about-me{
	font-size: 35px;
	font-weight: bold;
	text-align: center;
	padding: 0;
	margin: 2px;
}
.resume-name{
	font-size: 20px;
  padding: 0%;
}
.resume-details{
	text-align: justify;

}

.resume-block-info{
	display: flex;
  flex: 0 0 30%;
	vertical-align: top;
	margin-left: 30px;
}
.resume-info{
	display: inline-block;
  flex-wrap: wrap;
	height: 200px;
	height: fit-content;
	vertical-align: top;
	padding: 0%;
	margin-left: 10%;
	margin-right: 0%;
}

/********* SKILLS *********/
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.column{
  flex-basis: 33.33%;
  padding: 10px;
  justify-content: space-evenly;
}

.resume-skills{
	display: inline-block;
  flex-wrap: nowrap;
	width: 22%;
	vertical-align: top;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
.column-title{
  margin-left: 0;
  padding-left: 0;
  border-left: 0;
}
.title-skills{
  vertical-align: top;
	width: 22%;
	font-size: 30px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-style: italic;
  margin-top: 0;
  margin-left: 0;
  padding-left: 0;
  border-left: 0;
}

.identifier{
	font-size: 20px;
	font-weight: bold;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/***********************ABOUT**********************/

.about-pics{
  width: 100%; height: auto;
}
.about-column{
  flex-basis: 50%;
}
.about-caption{
  font-family: 'Courier New', Courier, monospace;
  align-self: center;
}

/***********************MOBILE**********************/
@media only screen and (max-width: 768px) {
  .column {
    flex-basis: 100%;
  }
  .about-column {
    flex-basis: 100%;
  }
  }
/***********************MOBILE**********************/

