body{
    background-color: #9adedb;
}
div {
    display: flex;
    text-align: center;
    justify-content: center;
}
#welcome{
    justify-items: center;
    background: radial-gradient(#00a59d, #51d5cf 90%);
}

h1{
    font-family: "Ephesis";
    font-size: 55px;
}
#navbar {
	overflow: hidden;
	background-color: #333;
    flex-wrap: wrap;
    justify-content: space-evenly;
    display: flex;
  }
  
  #navbar a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px;
	text-decoration: none;
  }
  
  .content {
	padding: 16px;
  }
  
  
  .sticky {
	position: fixed;
	top: 0;
	width: 100%;
  }
  
  .sticky + .content {
	padding-top: 60px;
  }

  .footer{
	background-color: #1a2229;
	color: #8e899e;
	width: 100%;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 10px;
	text-align: right;
	padding-top: 30px;
    padding-bottom: 30px;
	margin-bottom: 30px;
	margin-top: 50px;
  }
